*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* struttura header */
header{
    height: 10vh;
}
.container-header{
    height: 10vh;
    position: fixed;
    margin: 0 auto;
    width: 100vw;  
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.Funzioni_alto{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50px;
    background-color: beige;
    border: 1px dashed black;
}
.speaker_view, .speaker_full_screen{
    height: 50px;
    width: 200px;
    background-color: aqua;
    border: 1px dashed black;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

/* struttura main */
main{
    overflow: auto;
}
.container_main{
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
}
.col_7{
    width: calc(100% / 7);
    margin: 5px;
    height: 100px;
 }
 .webcam{
    width: 100%;
    height: 100%;
    background-color: green;
    border: 1px dashed black;
    position: relative;
 }
 .utente{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 20px;
    background-color: beige;
    border: 1px dashed black;
 }